<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="../static/styles/stlye.css?cache_id={{ cache_id }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="../static/scripts/script.js?cache_id={{ cache_id }}"></script>
    <style>
      .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        cursor: pointer;
      }
      .modal-img {
        width: 100%;
      }
      .video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 27px;
      }
      .video-thumbnail {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body
    style="
      background: url(../static/images/connect-background.jpg) no-repeat center
        center fixed;
      background-size: 95% 100%;
    "
  >
    <nav class="flex-div">
      <div class="nav-left flex-div">
        <img src="../static/images/menu.png" class="menu-icon" />
        {% if user %}
        <a href="/index"
          ><img src="../static/images/Connect-logo.png" class="logo"
        /></a>
        {% else %}
        <a href="/"
          ><img src="../static/images/Connect-logo.png" class="logo"
        /></a>
        {% endif %}
      </div>
      <div class="nav-midle flex-div">
        <div class="search-box flex-div">
          <form action="" class="search-bar">
            <input type="text" name="q" placeholder="Search By Location" />
            <button type="submit">
              <img src="../static/images/search.png" />
            </button>
          </form>
        </div>
        <img src="../static/images/voice-search.png" class="mic-icon" alt="" />
      </div>
      <div class="nav-right flex-div">
        {% if user %}
        <form action="/camera" method="POST">
          <input type="hidden" name="user_id" value="{{ user.id }}" />
          <button type="submit" style="border: none; background: none">
            <img src="../static/images/upload.png" alt="Upload" />
          </button>
        </form>
        {% endif %}
        <div class="location">
          <img src="../static/images/placeholder.png" />
          <div class="sub-menu-1">
            <ul>
              {% set used_names = [] %} {% for location in locations %} {% if
              location.name not in used_names %}
              <li>
                <a
                  href="#"
                  class="location-link"
                  data-name="{{ location.name }}"
                  >{{ location.name }}</a
                >
              </li>
              {% set _ = used_names.append(location.name) %} {% endif %} {%
              endfor %}
            </ul>
          </div>
        </div>
        {% if user %}
        <a href="/logout/{{ user.id }}"
          ><img src="../static/images/logout.png"
        /></a>
        <a href="/profile/{{ user.id }}"
          ><img class="user-icon" src="{{ user.image }}"
        /></a>
        {% endif %}
      </div>
    </nav>

    <!-------------------------sidebar---------------->
    {% if user %}
    <div class="sidebar small-sidebar">
      <div class="shortcut-links">
        <a href="/index"
          ><img src="../static/images/home.png" alt="" />
          <p>Home</p></a
        >

        <a href="/subscription"
          ><img src="../static/images/subscriprion.png" alt="" />
          <p>Subscriprion</p></a
        >
        <a href="/library"
          ><img src="../static/images/library.png" alt="" />
          <p>Library</p></a
        >
        <a href="#"
          ><img src="../static/images/history.png" alt="" />
          <p>History</p></a
        >
        <a href="#"
          ><img src="../static/images/playlist.png" alt="" />
          <p>Playlist</p></a
        >
        <a href="#"
          ><img src="../static/images/messages.png" alt="" />
          <p>Messages</p></a
        >
        <hr />
      </div>
      <div class="subscribed-list">
        <h3>SUBSCRIBERS</h3>
        {% for subscriber in subscriber_ids%} {%set m_user =
        get_user(subscriber)%}
        <a href=""
          ><img src="{{ m_user.image}}" alt="" />
          <p>{{ m_user.first_name }} {{ m_user.last_name}}</p></a
        >
        {%endfor%}
      </div>
      <hr />
      <div class="subscribed-list">
        <h3>SUBSCRIBED</h3>
        {% for subscribed in subscribed_ids%} {%set m_user =
        get_user(subscribed)%}
        <a href=""
          ><img src="{{ m_user.image}}" alt="" />
          <p>{{ m_user.first_name }} {{ m_user.last_name}}</p></a
        >
        {%endfor%}
      </div>
    </div>
    {% else %}
    <div class="sidebar small-sidebar">
      <div class="shortcut-links">
        <a href="/"
          ><img src="../static/images/home.png" alt="" />
          <p>Home</p></a
        >
        <a href="/login"
          ><img src="../static/images/explore.png" alt="" />
          <p>Explore</p></a
        >
        <a href="/login"
          ><img src="../static/images/subscriprion.png" alt="" />
          <p>Subscriprion</p></a
        >
        <a href="/login"
          ><img src="../static/images/library.png" alt="" />
          <p>Library</p></a
        >
        <a href="/login"
          ><img src="../static/images/history.png" alt="" />
          <p>History</p></a
        >
        <a href="/login"
          ><img src="../static/images/playlist.png" alt="" />
          <p>Playlist</p></a
        >
        <a href="/login"
          ><img src="../static/images/messages.png" alt="" />
          <p>Messages</p></a
        >
        <a href=""
          ><img src="../static/images/show-more.png" alt="" />
          <p>Show More</p></a
        >
      </div>
    </div>
    {% endif %}
    <div
      class="container mt-5"
      style="
        background: transparent;
        backdrop-filter: blur(1px) saturate(180%);
        position: absolute;
        left: 7%;
      "
    >
      <div class="row">
        <div class="col-md-3">
          <img
            src="{{ user.image}}"
            alt="User Image"
            class="profile-img"
            data-toggle="modal"
            data-target="#imageModal"
          />
        </div>
        <div class="col-md-9">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <p>Email: {{ user.email }}</p>
          <p>Bio: {{ user.description }}.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <h3 style="color: honeydew">{{ user.last_name }}'s Videos</h3>
          <div class="video-grid">
            {% for content in contents %}
            <div class="video-item">
              <a href="/play/{{ content.id }}">
                <video class="video-thumbnail">
                  <source
                    src="{{ content.content }}"
                    type="video/mp4"
                    class="thumbnail"
                    muted
                  />
                  Your browser does not support the video tag.
                </video>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="imageModal"
      tabindex="-1"
      aria-labelledby="imageModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">User Image</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="user-image.jpg" alt="User Image" class="modal-img" />
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .querySelectorAll(".video-item .thumbnail")
        .forEach(function (video) {
          video.addEventListener("mouseover", function () {
            // Check if user has interacted with the page before playing the video
            if (document.interactive || document.pointerLockElement) {
              video.play().catch((error) => {
                console.error(
                  "Playback failed due to user interaction policy",
                  error
                );
              });
            }
          });

          video.addEventListener("mouseout", function () {
            video.pause();
          });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
